* {
    margin: 0px;
}

button:hover,
.listingCardsContainer:hover {
    cursor: pointer;
    /* Changes to a pointing hand */
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: white;
}

#logotipo {
    width: 7rem;
    height: 4rem;
    padding-left: 1rem;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.signup {
    width: 94.5px;
    height: 46px;
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #343342;
    color: white;
}

.login {
    width: 94.5px;
    height: 46px;
    border-radius: 5px;
    background-color: white;

}

.logo {
    display: flex;
    align-items: center;
}

.CompanyName {
    padding-left: 20px;
    font-size: x-large;
}

.vertical-line {
    width: 1px;
    height: 30px;
    background-image: linear-gradient(to right, #2c2b2b 50%, #2c2b2b 50%);
}

.horizontal-line {
    margin-top: 2rem;
    ;
    width: 100%;
    height: 1px;
    background-color: #343342;
    box-shadow: none;
}

.backgroundImage {
    background-image: url('https://static.independent.co.uk/2023/03/20/16/iStock-590299316.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.searchTitle {
    padding-top: 7rem;
    color: #343342;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.searchTitle2 {
    padding-top: 2rem;
    color: #343342;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.listings {
    display: flex;
    padding-top: 4rem;
}

.card {
    background-color: aliceblue;
    margin: auto;
    width: 16%;
    height: 15rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.searchInput {
    background-color: #d9d9d9;
    color: white;
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    border-color: white;
    border-width: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5rem;
}

.searchButton {
    width: 5rem;
    height: 45px;
    border-radius: 5px;
}

.card2 {
    background-color: aliceblue;
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: 15rem;
    height: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.imgCard {
    width: 100%;
    height: 10rem;
    background-size: cover;
}

.about {
    background-color: aliceblue;
    width: 60rem;
    height: auto;
    margin: auto;

}

.aboutContent {
    margin-top: 140px;
    padding: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.contactInfo {
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

.listingCardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.featuredHeader {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.container {
    padding-left: 10px;
    padding-bottom: 10px;
}

.filterListings {
    display: flex;
    justify-content: center;
}

.cardDetails {
    background-color: aliceblue;
    margin-left: 3rem;
    margin-bottom: 3rem;
    width: 70%;
    height: 55rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.containerDetails {
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.h2Details {
    text-align: center;
    padding-top: 3rem;
}

.imgCardDetails {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.cardDetailsContainer {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #f2f2f2;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-item {
    flex-basis: 30%;
}

.footer-item:first-child h4 {
    /* Style first h4 within footer-item */
    margin-bottom: 25px;
    font-weight: 600;
}

.footer-item:first-child p {
    /* Style first p within footer-item */
    color: #777;
}

.footer-item:nth-child(2) ul {
    /* Style ul within second footer-item */
    list-style: none;
    padding: 0;
}

.footer-item:nth-child(2) li {
    margin-bottom: 5px;
}

.footer-item:nth-child(2) a {
    color: #333;
    text-decoration: none;
}

.footer-item:last-child img {
    /* Style img within last footer-item */
    width: 150px;
    /* Adjust as needed */
}

.copyright {
    font-size: 12px;
    margin-top: 10px;
    color: #777;
}

.fa-brands{
    margin: 5px;
}